body {
  background-image: url('/Gamer Arcade/1500 Sem Título_20250518140747.png');
  font-family: 'Cal Sans', sans-serif;
  text-align: center;
  color: #FFFFFF;
  background-size: cover;
  min-height: 100vh;
}

.container{
  background-image: linear-gradient(135deg, #040404, #23232394);
  backdrop-filter: blur(35px);
  width: 520px;
  height: 735px;
  margin-top: 25%;
  margin-left: auto;
  box-shadow: inset 0px 0px 25px #121212;
  margin-right: auto;
  border-radius: 25px;
  border: 1px solid #161718;
}
.caixa{
  background: #1A1515;
  font-family: rubik;
  margin-top: 35px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  caret-color: #FF3A69;
  border-radius: 13px;
  color: #FFFFFF;
  width: 90%;
  transition: 0.3s;
  border: 0.2px solid #232329;
  height: 50px;
  outline: none;
}
.caixa::placeholder{
  color: #6D7083;
  padding-left: 25px;
}

.caixa:focus{
  border: 2px solid #FF1616B0;
  font-size: 17px;
  box-shadow: 0px 0px 45px 4px #BF000070;
  transition: all 0.3s ease;
}

.red-btn{
  background: linear-gradient(95deg, #FF3D78, #FF0B0B);
  width: 70%;
  height: 50px;
  color: #FFFFFF;
  border-radius: 35px;
  font-family: Dm sans;
  margin-top: 35px;
  border: none;
}
.hint{
  background: linear-gradient(135deg, #949494, #4A4A4AE8);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-glg {
  background: linear-gradient(95deg, #4B4B4B, #676767);
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #878787;
  margin: 75px auto 0 auto; /* centraliza certinho */
  border-radius: 35px;
  font-family: 'DM Sans', sans-serif;
  box-shadow: 0px 0px 25px #525961B5;
  border: none;
  gap: 25px;
  padding: 0 16px; /* evita overflow lateral */
  box-sizing: border-box; /* respeita o width certinho */
  overflow: hidden; /* se vazar algo, esconde */
}
.forget{
  font-family: dm sans;
  color: #FF7C7C;
}

.title{
  font-family: Host Grotesk;
}
.red-btn:focus{
  box-shadow: 0px 0px 25px #FF3030B5
  
}
.logo{
  width:50px;
  border-radius: 7px;
  margin-top: 15px;
}
header{
  color: #EEEFFF;
  background: linear-gradient(135deg, #181B1F, #002759);
  border-bottom: 2px solid #698AFF;
  border-radius: 15px;
  font-family: rubik;
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 120px;
}
.ic{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 15px;
}
